img {
  padding: 10px;
  border-radius: 25px;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 2% 1% 2%;
}

.education-entry, .work-entry {
  border: 2px solid #676f7c;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 2px black;
  background-color: #f0f1f4;
}

.container {
	width: 100%;
  max-width: 1400px;
}

h1 {
  font-size: 40px;
  color: #ffe6ff;
  text-shadow: 2px 2px #000000;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2, h3, h4, h5 {
  padding:10px 5%;
}

footer {
  background-color: #white;
  padding: 10px;
  border: 3px solid #a6a6a6;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#footer-insert {
  background-color: #999ab2;
  padding: 10px;
  margin-left: 0;
  margin-right: 0;
  border-radius: 25px;
}

#footer1, #footer2 {
  text-align: center;
}

.section-head-text {
	color: #394d60;
	font-size: 22px;
  margin-top: 10px;
}

.section-head-text:hover {
  font-size: 28px;
  text-shadow: 1px 1px #ffffff;
  font-style: italic;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #737373;
  line-height: 150%;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #737373;
  float: right;
}

p {
  font-size: 14px;
  color: #333;
  padding-top: 8px;
  padding-left: 5px;
}

a {
  color: #1f5099;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.skills-h3 {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  text-shadow: 1px 1px #aac9d4;
  padding-top: 0;
  padding-bottom: 0;
}

#topContacts {
  border: 2px solid white;
  background-image: url("../images/stardust.png");
  box-shadow: 3px 3px #000000;
  margin-top: 5px;
}

#skills-text {
  font-size: 14px;
}

#header .skills {
  width: 50%;
  margin-top: -15px;
}

#languages, #libraries {
  padding-top: 0;
}

#skills-header {
  text-align: left;
  padding-left: 0px;
  color: #ffffff;
  border-bottom: 1px solid white;
  font-family: cursive;
}

.pink-text {
  color: #ffe6ff;
  text-shadow: 1px 1px #000000;
}

.white-text {
  font-weight: bold;
  color: #ffffff;
  text-shadow: 1px 1px #000000;
}

#project-title {
  font-weight: bold;
  font-size: 20px;
  font-family: Impact;
}

.project-entry {
  padding-bottom: 10px;
}

#header {
  background-image: linear-gradient(to left, #999ab2, #a8a9bd);
  padding: 2.5% 5%;
  animation: opaque .7s ease-in;
}

ul {
  list-style-type: none;
}

.panel .panel-heading {
  background-color: #aac9d4;
  min-height: 100px;
}

.panel-group #middle-panel .panel-heading {
  background-image: radial-gradient(#aac9d4, #ecf6f9);
}

#accordion {
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 30px;
}

#biopic {
  margin-top: 30px;
  margin-left: 30px;
  width: 50%;
  min-width: 100px;
  max-width: 200px;
}

span {
  padding: 5px;
  color: #ffffff;
}

#collapseTwo {
  background: #f2f2f2;
  opacity: 0.5;
}

#contact1, #contact2 {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media only screen and (max-width: 400px) {
  #biopic {
    margin-left: 80px;
  }
}

@keyframes opaque {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

